.search__input {
  min-height: 36px;
  width: 71%;
  padding-left: 4.4%;
  outline: 0;
  background-image: url('../../../images/search_icon.png');
  background-repeat: no-repeat;
  background-position: 15px center;
  border-radius: 5px;
  border: 1px solid #C7C7C7;
}
.search__input::placeholder {
  font-size: 14px;
  color: #000;
}
